#pg {
  padding-right: 68px;
  background-color: (white);
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
}
#chatAll {
  font-family: "Montserrat", sans-serif;
  width: 94%;
  height: 87vh;
  background-color: (#e2e2e275);
  margin-left: 10%;
  overflow: auto;
}

#chatBody {
  padding-left: 83px;
  padding-top: 70px;
  // padding-right: 15%;
  // overflow-y: scroll;
  width: 100%;
  background-color: white;
}
#username {
  font-size: 16px;
  margin-right: 10px;
}
#timestamp {
  font-size: 10px;
}
#userimg {
  border: solid 3px;
  border-radius: 25%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.list-group {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #e2e2e2;
  color: black;
  border-radius: 0px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-right: 40px;
  width: 100%;
  // background-color: #3564ff0c;
  span {
    font-size: 11px;
  }
}
#chatMessage {
  font-size: 16px;
  margin-left: 70px;
  margin-top: -10px;
  word-wrap: break-word;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  // text-align: center;
  margin-bottom: 0px;
  background-color: cornsilk;
  // background: linear-gradient(
  //   rgba(248, 245, 229, 0.9),
  //   rgba(255, 254, 249, 0.4)
  // );

  right: 0px;
  left: 12.5%;
  margin-right: 0px;
  height: 21.5%;
  // width: 100%;
  // background-color: #535353;
  border: 3px;
}
#sendMessage {
  height: 75px;
  border: solid 3px;

  border-color: #535353;
}
input {
  background-color: white;
  border: solid 3px;
  border-color: #535353;
}

button {
  margin-top: -16px;
  background-color: #e2e2e2;
  padding-bottom: 20px;
  margin-right: 4px;
  float: right;
  color: #401a7e;
}

// position: absolute;
