<!-- <head>
  <meta name="google-signin-client_id" content="157286943979-ovd6986gl60f6qu2smogs0ddmrrtbusd.apps.googleusercontent.com">
</head> -->
<div id="back">
  <div id="top">
    <h1>Welcome!</h1>
    <h2>Please
      <button (click)="socialSignIn('google')">Sign in</button>
    </h2>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <!-- 
  <button (click)="socialSignOut('google')">Google signout</button> -->
  </div>

  <div id="bottom">
    <div id="div1">
      <p>
       Friends
      </p>
    </div>
    <div id="div2">
      <p>
       Colleagues
      </p>
    </div>
    <div id="div3">
      <p>
        Personal Groups
      </p>
    </div>
  </div>
</div>