nav {
  background: #313131;
  position: fixed;
  width: 100%;
  z-index: 99;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: rgb(253, 202, 71);
        text-shadow: 2px 2px 5px #353535, 0 0 20px #e2e2e2b0, 0 0 5px #353535;
        padding: 15px 0px 15px 21px;
        display: block;
        font-size: 32px;
        span {
          color: rgba(0, 204, 255, 0.288);
          font-size: 46px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

// color: #e2e2e2;
//         text-shadow: 1px 1px 2px #353535, 0 0 35px #ff652f, 0 0 5px #353535;
