nav {
  background: #535353;
  position: fixed;
  width: 100%;
  z-index: 99;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: #ff652f;
        text-shadow: 2px 2px 5px #353535, 0 0 20px #e2e2e2b0, 0 0 5px #353535;
        padding: 15px 0px 15px 21px;
        display: block;
        font-size: 36px;
      }
    }
  }
}

// color: #e2e2e2;
//         text-shadow: 1px 1px 2px #353535, 0 0 35px #ff652f, 0 0 5px #353535;
