<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="light-mode" id="topnav">
  <a routerLink="home">
    <h1>SynChronos</h1>
  </a>
  <a routerLink="profile/{{profileId}}">
    <i class='material-icons'>supervised_user_circle</i>Profile
  </a>
  <a routerLink="calendar">
    <i class='material-icons'>event</i> Events
  </a>
  <!-- <a routerLink="photos">
      <i class='material-icons'>photo</i> Photos
    </a> -->
  <a routerLink="chat">
    <i class='material-icons'>chat</i> Messages
  </a>
  <a routerLink="settings">
    <i class='material-icons'>settings</i> Settings
  </a>
  <a href="javascript:void(0)" class="icon" onclick="myNavFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <!-- <app-darkmode></app-darkmode> -->
</div>