// #body {
//   padding: 100px 75px 0 60px;
//   background-color: whitesmoke;
//   height: 80vmax;
// }
// img {
//   float: left;
//   height: 15vw;
//   width: 15vw;
//   border-radius: 100px;
//   border: 2px solid;
//   border-color: #401a7e;
// }
// form {
// }
// input {
//   float: right;
//   background-color: transparent;
//   border: none;
//   width: 100%;
//   font-size: 2vw;
//   padding-bottom: 1vw;
// }
// h1 {
//   font-size: 3vw;
// }
// h2 {
//   font-size: 4vw;
//   color: #401a7e;
//   text-shadow: 2px 2px 5px grey;
//   margin-bottom: 2vw;
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

// body {
//   height:100%;
//   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
//   font-size: 1em;
//   font-weight: 300;
//   line-height: 1.5;
//   letter-spacing: 0.05em;
//   background-image: linear-gradient(135deg, rgba(52, 152, 219,0.9) 0%,rgba(243, 65, 65, 0.8) 100%), url('https://i.imgur.com/ZWeegbh.jpg');
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-attachment: fixed;
//   background-size: cover;

// }

// * {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

#body {
  padding-top: 100px;
  background-color: whitesmoke;
  height: 100vh;
}
.avatar {
  // background-image: url("../../img/christopher.jpg");
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto 2vw auto;
  width: 15vw;
  height: 15vw;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-in-out;
  img {
    height: 15vw;
    width: 15vw;
    border-radius: 100px;
  }
}

.avatar:hover {
  box-shadow: 0 0 0 12px #401a7e;
}

h1 {
  text-align: center;
  font-size: 3.5vw;
  font-weight: 200;
  color: whitesmoke;
  text-shadow: 2px 2px 5px #401a7e;
  margin: 0;
}

.container {
  left: 50%;
  margin: 6em 0 0 -108px;
  position: absolute;
}

.social {
  position: relative;
  height: 3em;
  width: 13.5em;
}

.social li {
  border-radius: 10px;
  display: block;
  height: 4em;
  line-height: 4em;
  margin: -2.2em;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
  text-align: center;
  width: 4em;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

.social a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  transform: rotate(-45deg);
  width: 4em;
}

@media only screen and (max-width: 320px) {
  .container {
    left: 50%;
    margin: 5em 0 0 -64px;
    position: absolute;
  }

  .social {
    position: relative;
    height: 3em;
    width: 10em;
  }

  .social li {
    height: 3em;
    line-height: 3em;
    width: 3em;
  }

  .social a {
    height: 3em;
    line-height: 3em;
    width: 3em;
  }
}

.facebook {
  background: #401a7e;
  left: 0;
  top: 0%;
}

.facebook:hover {
  background: #155b9d;
  box-shadow: 0 0 0 2px #155b9d;
}

.sociali {
  border: 0.3vw solid;
  border-color: #401a7e;
  content: url("../../img/qr.png");
  left: 50%;
  top: 0;
}

.sociali:hover {
  background: #f34141;
  box-shadow: 0 0 0 2px #f34141;
}

.mail {
  background: #401a7e;
  left: 100%;
  top: 0;
}

.mail:hover {
  background: #1abc9c;
  box-shadow: 0 0 0 2px #1abc9c;
}
