<!-- <div id="body">
  <h2>Welcome to your profile!</h2>

  <img [src]="profilePic" *ngIf="profilePic">
  <div class="row">
    <div class="col">
      <h1> Name: </h1>
      <input readonly="readonly" [(ngModel)]="currentProfile.name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Email: </h1>
      <input readonly="readonly" [(ngModel)]="currentProfile.email">
    </div>
</div> -->




<!-- <div id="body" class="light-mode">
  <div id="bottom">
    <div class="avatar">
      <img [src]="profilePic" *ngIf="profilePic">
    </div>
    <h1>
      <input id="nameInput" readonly="readonly" [(ngModel)]="currentProfile.name">
    </h1>
    <ul class="social">
      <li class="facebook">
        <a href="#" class="entypo-facebook"></a>
      </li>
      <li class="sociali">/li>
        <li class="mail">
          <a href="#" class="entypo-mail"></a>
        </li>
    </ul>
  </div>
</div> -->



<div id="body" class="light-mode">

  <div id="top">
    <h1>Your</h1>
    <h2>Profile
    </h2>
  </div>




  <div id="bottom">
      <div class="avatar">
          <img [src]="profilePic" *ngIf="profilePic">
        </div>
        <h1>
          <input id="nameInput" readonly="readonly" [(ngModel)]="currentProfile.name">
        </h1>
        <ul class="social">
          <li class="facebook">
            <a href="#" class="entypo-facebook"></a>
          </li>
          <li class="sociali">/li>
            <li class="mail">
              <a href="#" class="entypo-mail"></a>
            </li>
        </ul>
    </div>
  </div>








  <!-- <button type="submit" (click)="submitProfile(this.form)">Edit Profile</button> -->

  <!-- <input type="text" class="form-control" name="name" id="name" placeholder="name" [(ngModel)]="currentProfile.name">
<input type="text" class="form-control" name="email" id="email" placeholder="email" [(ngModel)]="currentProfile.email">
 -->


  <!-- <form name="makeProfile" id="makeProfile" action="http://localhost:8080/profile" method="POST"> -->


  <!-- this is ryan's photo code  -->
  <!-- <div class="container" style="width:400px">
  <div style="color: blue; margin-bottom: 20px">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <profile-photo-form></profile-photo-form> -->
  <!-- 
  <br/>
  <br/>

  <profile-photo-list></profile-photo-list>
</div> -->