body {
  position: fixed;
  height: 100%;
  background: #313131;
  float: left;
  margin-top: 82px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: inherit;

    li {
      a {
        color: rgb(253, 202, 71);
        padding: 30px;
        display: block;
        // border-radius: 10%;
        // border: 2px solid transparent;
      }
      a:hover {
        background-color: rgba(0, 204, 255, 0.288);
        border-radius: 10%;
        // border: 1px solid;
        // border-color: rgb(253, 202, 71);
      }
    }
  }
}
