// *:hover {
//   pointer-events: none !important;
// }

#body-cal.light-mode {
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: inherit;
}


.btn-primary {
  background-color: #401a7e;
  border: none;
}
// .text-center {
//   color: white;
//   font-weight: 800;
//   text-shadow: 1px 2px 5px #401a7e;
// }

// #tnt {
//   background-color: red !important;
//   // pointer-events: none;
//   color: pink;
// }
// #tnt:hover {
//   background-color: #401a7e !important;
// }

// #rnr{
//   background-color: goldenrod;
//   color: green;
//   pointer-events: none;
  
// }
// #rnr:hover{
//   background-color: blue !important;
// }
img{}