<!-- <div id="body" class="light-mode">
<h1>Settings</h1>
 Username:
 <br>
 Theme:
 <br>
 Logout:
 <br>
 Profile:
 <br>
 Logout:
    <app-darkmode></app-darkmode>
    <button (click)="socialSignOut('google')">

      <a href="login">
        <i class='material-icons'>clear</i>
        Logout</a>
    </button>

  </div> -->

  <div id="body" class="light-mode">

      <div id="top">
        <h1>Your</h1>
        <h2>Settings
        </h2>
      </div>
    
    
    
    
      <div id="bottom">
          <h1>Settings</h1>
             <app-darkmode></app-darkmode>
             <button id=settingsButton (click)="socialSignOut('google')">
         
               <a href="login">
                 <!-- <i class='material-icons'>clear</i> -->
                 Logout</a>
             </button>

        </div>
      </div>