<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css'>

  <!-- <link rel="stylesheet" href="settings.component.scss"> -->


</head>




<body id="body" class="light-mode">
  <div class="markdown">
    <div class="switch-wrapper">
      <input id="switchCheckbox" type="checkbox" onclick="toggleDarkLight()">
      <span class="switch-label day">Day</span>
      <label for="switchCheckbox" class="switch"></label>
      <span class="switch-label night">Night</span>
    </div>



  </div>









</body>

</html>