<div id="body" class="light-mode">

  <div class="markdown">

    <app-darkmode></app-darkmode>
    <button (click)="socialSignOut('google')">
      <a href="login">
        <i class='material-icons'>clear</i>
        Logout</a>
    </button>
    <div id="myDiv" class="light-mode">
      Orange Color icon orange v2.svg Wavelength 585–620 nm About these coordinates Color coordinates Hex triplet #FF7F00 sRGBB
      (r, g, b) (255, 127, 0) CMYKH (c, m, y, k) (0, 50, 100, 0) HSV (h, s, v) (30°, 100%, 100%) Source HTML Color Chart
      @30 B: Normalized to [0–255] (byte) H: Normalized to [0–100] (hundred) In optics, orange has a wavelength between approximately
      585 and 620 nm and a hue of 30° in HSV color space. In the RGB color space it is a secondary color numerically halfway
      between gamma-compressed red and yellow, as can be seen in the RGB color wheel. The complementary color of orange is
      azure. Orange pigments are largely in the ochre or cadmium families, and absorb mostly blue light. Varieties of the
      color orange may differ in hue, chroma (also called saturation, intensity, or colorfulness) or lightness (or value,
      tone, or brightness), or in two or three of these qualities. Variations in value are also called tints and shades,
      a tint being an orange or other hue mixed with white, a shade being mixed with black. A large selection of these various
      colors is shown below.
    </div>

  </div>
</div>